unless bsk_attributes.site_development_phase == 'live-stable'
    div(class=bsk_attributes.container_class)
        if bsk_attributes.site_development_phase == 'experimental'
            span.bsk-text-uppercase.bsk-label(class='bsk-label-' + bsk_attributes.site_development_phase) #{bsk_attributes.site_development_phase}
            |
            | This website is used for testing, your #[a(href=bsk_attributes.site_feedback_href) feedback] will help us to improve it.
        else if bsk_attributes.site_development_phase == 'custom'
            span.bsk-text-uppercase.bsk-label(class=bsk_attributes.site_development_phase_custom.label_classes) #{bsk_attributes.site_development_phase_custom.label_text}
            |
            | #{bsk_attributes.site_development_phase_custom.message_text}
        else
            span.bsk-text-uppercase.bsk-label(class='bsk-label-phase-' + bsk_attributes.site_development_phase) #{bsk_attributes.site_development_phase}
            |
            | This is a new website, your #[a(href=bsk_attributes.site_feedback_href target='_blank') feedback] will help us to improve it.
        hr.bsk-hr-dashed
